.gameContainer {
  position: relative;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: #fef8e8;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}

.madeMoves {
  position: relative;
  margin: 10px 0;
  font-size: 20px;
  z-index: 1;
}

.card {
  max-width: 150px;
  cursor: pointer;
}

.card.flipped>div {
  transform: rotateY(180deg);
}

.resetButton {
  position: relative;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  border-radius: 30px;
  font-size: 22px;
  /* background-color: #56d4c8; */
  /* background: linear-gradient(#56d4c8, #56d4c8); */
  color: #4d4d4d;
  transition: 0.4s;

  background-image: linear-gradient(to left, #56d4c8, #5eb8e3);
  background-size: 300%;
  background-position: 0 0;
  -webkit-appearance: none !important;
  z-index: 1;
}

.resetButton:hover {
  background-position: 100% 0;
}

.resetButton:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 425px) {
  .gameContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 7px;
    gap: 7px;
    border-radius: 15px;
  }

  .resetButton {
    margin: 5px 0 10px 0;
    padding: 5px;
    font-size: 20px;
    width: 70%;
  }

  .madeMoves {
    margin: 0 0 5px 0;
    font-size: 18px;
  }
}

@media only screen and (max-height: 750px) {
  .card {
    max-width: 130px;
  }
}

@media only screen and (max-height: 560px), and (max-width:568px) {
  .gameContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}
