.gameContainer {
  position: relative;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: #fef8e8;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}

.madeMoves {
  position: relative;
  margin: 10px 0;
  font-size: 20px;
  z-index: 1;
}

.card {
  max-width: 150px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.card.flipped>div {
  transform: rotateY(180deg);
}

.resetButton {
  position: relative;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  border-radius: 30px;
  font-size: 22px;
  color: #323232;
  transition: 0.4s;
  background-image: linear-gradient(to left, #56d4c8, #5eb8e3);
  background-size: 300%;
  background-position: 0 0;
  -webkit-appearance: none !important;
  z-index: 1;
}

.resetButton:hover {
  background-position: 100% 0;
}

.resetButton:active {
  transform: scale(0.95);
}

.handPointer {
  position: absolute;
  width: 70px;
  top: 150px;
  left: 70px;
  filter: drop-shadow(6px 8px 2px #4d4d4d);
  animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@media only screen and (max-width: 425px) {
  .gameContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 7px;
    gap: 7px;
    border-radius: 15px;
  }

  .resetButton {
    margin: 10px 0 5px 0;
    padding: 3px;
    font-size: 18px;
    width: 60%;
  }

  .madeMoves {
    margin: 0 0 5px 0;
    font-size: 18px;
  }
}

@media only screen and (max-height: 754px) {
  .card {
    max-width: 130px;
  }
}

@media only screen and (min-height: 1100px) {
  .card {
    max-width: 200px;
  }
}

@media only screen and (max-height: 560px), and (max-width:568px) {
  .gameContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}
