.preloaderContainer {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fef8e8;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: loader 1s forwards;
}
.preloaderContainer img{
  width: 150px
}

@keyframes loader {
  0%{
    opacity: 0;
    z-index: 999;
  }
  10%{
    opacity: 1;
    z-index: 999;
  }
  90%{
    opacity: 1;
    z-index: 999;
  }
  100%{
    opacity: 0;
    z-index: 0;
  }
}
