@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/games');
@import url('http://fonts.cdnfonts.com/css/game');
@import url('http://fonts.cdnfonts.com/css/vagabond');


body {
  background: rgb(115 43 108);
  font-family: 'Roboto', sans-serif;
  color: #f7f7f7;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 30px 0;
  width: min-content;
  text-transform: uppercase;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

footer {
  font-size: 30px;
  background-color: #98409c;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  box-sizing: content-box;
}

footer,
h1 {
  font-family: 'Games', sans-serif;
  color: #eae4ce;
}

button,
body{
  font-family: 'Vagabond', sans-serif;
}
