@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: rgb(212, 41, 195);
  background: linear-gradient(120deg, rgba(212, 41, 195, 1) 0%, rgba(255, 67, 49, 1) 50%, rgba(244, 157, 93, 1) 100%);
  font-family: 'Roboto', sans-serif;
  color: #f7f7f7;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 30px 0;
  width: min-content;
  text-transform: uppercase;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

footer {
  font-size: 30px;
  /* background-color: #0ce925; */
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
