@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/games');
@import url('http://fonts.cdnfonts.com/css/game');
@import url('http://fonts.cdnfonts.com/css/vagabond');

html {
  height: 100%;
}

body {
  height: 100%;
  background: rgb(203, 74, 112);
  background: linear-gradient(180deg, rgba(203, 74, 112, 1) 0%, rgba(245, 189, 140, 1) 100%) fixed;
  font-family: 'Roboto', sans-serif;
  color: #f7f7f7;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 55px;
  margin: 10px 0;
  text-transform: uppercase;
  z-index: 1
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

footer {
  font-size: 28px;
  background-color: #cc4d71;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  box-sizing: content-box;
  z-index: 1;
}

footer a {
  transition: 0.5s;
}

footer a:hover {
  text-decoration: underline;
}

footer a,
h1 {
  font-family: 'Games', sans-serif;
  color: #fcfcfd;
}

button,
body {
  font-family: 'Vagabond', sans-serif;
}

@media only screen and (max-width: 425px) {
  section {
    padding: 0 30px;
  }

  h1 {
    font-size: 40px;
    margin: 15px 0;
  }

  footer {
    font-size: 22px;
    padding: 10px 30px;
  }
}
